<h2>注文履歴詳細</h2>
    <ul>
        <li>購入者</li>
        <p><%= @order.customer.name %></p>
        <li>注文日</li>
        <p><%= @order.created_at %></p>
        <li>配送先</li>
        <p><%= @order.address name %></p>
        <li>支払方法</li>
        <p><%= @order.method_of_payment %></p>
        <li>注文ステータス</li>
        <p>ステータス</p>
    </ul>
    
    